body {
    background-color:#f5f4f4;
}
.name-join{
    margin-top: 20px;
}
textarea#chat-box {
    margin-top: 20px;
}
.send-message{
    margin-top: 10px;
}
.btn-logout {
    margin-top: 20px;
}
div#new-room {
    margin-left: 9px;
}
textarea#chat-box {
    background-color: #fbfbfb;
}
.list-group-item
{
    border-radius: 0 !important;
}
p{
            margin: 0;
            padding: 8px 0;
            font-size: 15px;
            text-align: center;
            background-color: #367ab7;
            color: #fff;
         }
p.online {
    width: 248px;
}
li.active{
    background-color: #aaa !important;
    border: 1px solid #bbb !important;
    color: #fff !important;
}
div#wellcome {
    margin-top: 20px;
}

div#chat-content {
    margin-top: 20px;
}