body {
    background-color:#f5f4f4;
}
.name-join{
    margin-top: 20px;
}
textarea#chat-box {
    margin-top: 20px;
}
.send-message{
    margin-top: 10px;
}
.btn-logout {
    margin-top: 20px;
}
div#new-room {
    margin-left: 9px;
}
textarea#chat-box {
    background-color: #fbfbfb;
}